{% extends 'base.html.twig' %}

{% block title %}You're banned!{% endblock %}

{% block body %}
    <h1>You're banned!</h1>
    <p>
        Your account has been banned due to the TOS violation.
        Please log out from your account.
    </p>
    <a href="{{ path('app.auth.logout') }}" class="btn btn-danger">{{ 'Logout'|trans({}, 'menus') }}</a>
{% endblock %}
