{% trans_default_domain "conversations" %}

<div {{ attributes }}>
    <div class="input-group mb-3">
        <input data-model="norender|query" type="text" class="form-control" placeholder="{{ 'Type message...'|trans }}" />
        <button data-action="live#action" data-action-name="sendMessage" class="btn btn-outline-secondary">{{ 'Send'|trans }}</button>
    </div>
</div>
