<div {{ attributes }}>
    <div class="input-group mb-3">
        <input data-model="norender|query" type="text" class="form-control" placeholder="Type message..." />
        <button data-action="live#action" data-action-name="sendMessage" class="btn btn-outline-secondary">Send</button>
    </div>
</div>
