{% extends 'base.html.twig' %}

{% block title %}Hello ConversationController!{% endblock %}

{% block body %}
    <h1>Conversations list</h1>
    <a class="btn btn-primary mb-3" href="{{ path('app.conversation.new') }}">Create conversation</a>
    <div class="list-group">
        {% for conversation in conversations %}
            <a href="{{ path('app.conversation.show', {'uuid' : conversation.id}) }}" class="list-group-item list-group-item-action">
                {% for user in conversation.users.values() %}
                    {{ user.userIdentifier ~ (not loop.last ? ", " : "") }}
                {% endfor %}
                ({{ conversation.users.count > 2 ? "group" : "individual" }})
            </a>
        {% else %}
            <span class="text-center">No conversations added</span>
        {% endfor %}
    </div>
{% endblock %}
