{% extends 'base.html.twig' %}

{% trans_default_domain "conversations" %}

{% block title 'Create an conversation'|trans ~ " - Postus" %}

{% block body %}
    <h1>{{ 'Create an conversation'|trans }}</h1>
    {{ component('friends_list', { userId: app.user.id }) }}
{% endblock %}
